<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customers/add}" method="post" th:object="${customer}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" name="address" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{province}" th:name="province">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Insert</button>
</form>
<footer ></footer>
</body>
</html>