<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customers/edit}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:value="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" th:field="*{name}" th:value="${customer.name}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" th:field="*{email}" th:value="${customer.email}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" name="address" th:field="*{address}" th:value="${customer.address}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="province">
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{province.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>